ServiceBusBootstrapper/ArmTemplates/logicAppTemplate.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 64,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "uksouth"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "topicName": {
      "type": "string",
      "metadata": {
        "description": "Topic name to subscribe to"
      }
    },
    "subscriberName": {
      "type": "string",
      "metadata": {
        "description": "Name of subscribing service"
      }
    },
    "frequencyIntervalSeconds": {
      "type": "int",
      "metadata": {
        "description": "Frequency interval to check service bus"
      }
    },
    "apiUrl": {
      "type": "string",
      "metadata": {
        "description": "Identifier for signposting function"
      }
    },
    "serviceBusConnectionName": {
      "type": "string",
      "defaultValue": "servicebus-connection"
    },
    "serviceBusDisplayName": {
      "type": "string",
      "metadata": {
        "description": "Azure Service Bus Connection Display Name"
      }
    },
    "serviceBusConnectionString": {
      "type": "securestring",
      "metadata": {
        "description": "Azure Service Bus Connection String"
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_a_message_is_received_in_a_topic_subscription_(peek-lock)": {
              "recurrence": {
                "frequency": "Second",
                "interval": "[parameters('frequencyIntervalSeconds')]"
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['servicebus']['connectionId']"
                  }
                },
                "method": "get",
                "path": "[format('/{0}/subscriptions/{1}/messages/head/peek', parameters('topicName'), parameters('subscriberName'))]",
                "queries": {
                  "sessionId": "None",
                  "subscriptionType": "Main"
                }
              }
            }
          },
          "actions": {
            "Condition": {
              "actions": {
                "Complete_the_message_in_a_topic_subscription": {
                  "runAfter": {},
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['servicebus']['connectionId']"
                      }
                    },
                    "method": "delete",
                    "path": "[format('/{0}/subscriptions/{1}/messages/complete', parameters('topicName'), parameters('subscriberName'))]",
                    "queries": {
                      "lockToken": "@triggerBody()?['LockToken']",
                      "sessionId": "",
                      "subscriptionType": "Main"
                    }
                  }
                }
              },
              "runAfter": {
                "HTTP": [
                  "Succeeded",
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              },
              "else": {
                "actions": {
                  "Dead-letter_the_message_in_a_topic_subscription": {
                    "runAfter": {},
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['servicebus']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "[format('/{0}/subscriptions/{1}/messages/deadletter', parameters('topicName'), parameters('subscriberName'))]",
                      "queries": {
                        "deadLetterErrorDescription": "",
                        "deadLetterReason": "Http call failed",
                        "lockToken": "@triggerBody()?['LockToken']",
                        "sessionId": ""
                      }
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@outputs('HTTP')['statusCode']",
                      200
                    ]
                  }
                ]
              },
              "type": "If"
            },
            "HTTP": {
              "runAfter": {},
              "type": "Http",
              "inputs": {
                "body": {
                  "messageContent": "@triggerBody()?['ContentData']"
                },
                "method": "POST",
                "uri": "[parameters('apiUrl')]"
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "servicebus": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('serviceBusConnectionName'))]",
                "connectionName": "[parameters('serviceBusConnectionName')]"
              }
            }
          }
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('serviceBusConnectionName')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]"
        },
        "displayName": "[parameters('serviceBusDisplayName')]",
        "parameterValues": {
          "connectionString": "[parameters('serviceBusConnectionString')]"
        }
      }
    }
  ]
}
